.open-sans-normal{
    font-family: 'open sans', sans-serif;
    font-style: auto;
}

/* shared style */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border-style: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    margin: 0 20px;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}




























/* tablet */
@media screen and (max-width: 768px){
    nav{
        flex-direction: column;
        margin: 0px 50px;
    }

    .nav-title{
        font-size: 30px;
    }

    nav ul li{
        margin: 10px 0;
    }

    nav ul li a{
        font-size: 18px;
    }   
}





/* mobile >>  */
@media screen and (max-width: 480px){
    nav{
        margin: 0px 20px;
    }

    .nav-title{
        font-size: 25px;
    }

    nav ul li{
        margin: 5px 0;
    }

    nav ul li a{
        font-size: 16px;
    }
    
}